@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 210 100% 99%;
    --card-foreground: 240 10% 3.9%;
    /*background of the popover*/
    --popover: 210 100% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 172 72% 39%;
    --primary-foreground: 210 100% 99%;
    /*wheres this even applied??*/
    --secondary: 180 37% 94%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 180 37% 94%;
    /*text unter den kacheln*/
    --muted-foreground: 180 3% 65%;
    /*calendar date selector*/
    --accent: 180 37% 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 18 49% 57%;
    --destructive-foreground: 210 100% 99%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    /*keyboard nav everywhwere else */
    --ring: 172 72% 39%;

    --chart-1: 302 73% 39%;
    --chart-2: 173 58% 39%;
    --chart-3: 210 69% 42%;

    --radius: 0.5rem;

    /*all styles applied to the sidebar*/
    --sidebar-background: 180 37% 94%;
    --sidebar-foreground: 240 5.3% 20%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    /*when hovering*/
    --sidebar-accent: 180 26% 89%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    /*for keyboard nav*/
    --sidebar-ring: 172 72% 39%;

    --default-font: "Inter", sans-serif;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}